# Server
NODE_ENV=production
PORT=5000

# Database
DB_HOST='aivaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxaws.com'
DB_PORT=5432
DB_NAME='zeroqueries'
DB_USER='aivaah_pg_admin'
DB_PASSWORD='WXXXXXXXXXXXXXKWrFeHL'

# JWT
JWT_SECRET=6ef0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXe35f5dd02fa9dd013b41a7efac
JWT_REFRESH_SECRET=d21f34e7XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0cff912b31a6573daf4bc91f9cf0ca88a3

# Email (for user invitations)
SMTP_PASSWORD=ftXXXXXXXXXXXXXXXXXXXcoq
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=syedsXXXXXXXXXXXXXXXX6@gmail.com
SMTP_FROM="ExcXXXXXXXXXXXXXXXXXil.com"

# Frontend
FRONTEND_URL=https://chat.zeroqueries.com

# SSL Configuration for RDS
DB_SSL=true